<% content_for :main do %>
    <%= @art.content %>
    <% if @page == "about" %>
        <ul><li><%= link_to "Site coding and design", design_url, :class=> "titles"%><br /></li>
            <li><%= link_to "Site history", history_url %></li>
        </ul>
    <% end %>
<% end %>

<% content_for :sidebar do %>
    <p>The Hurwood family website has been on the web since 1999.</p><br />
    <p>This <%= link_to "About", about_url %> section looks at the design and history of the site.</p><br /><br />
    <%= link_to "Site coding and design", design_url %><br />
    A brief look at the design and coding philosophy behind the site<br /><br />
    <%= link_to "Site history", history_url %><br />
    A look at past versions of the website.
<% end %>


