<div id="header" class="group">
    <div id="title">
        <%= link_to "the<em>Hurwoods</em>.net".html_safe, '/' %>
    </div>
    <div id="nav" class="group" >
        <%= '<ul id="'.html_safe + @page + '">'.html_safe %>
            <li id="t-home"><%= link_to "<strong>Home</strong>".html_safe, '/' %></li>
            <li id="t-blog"><%= link_to "<strong>Writing</strong>".html_safe, '/blogs' %></li>
            <li id="t-family"><%= link_to "<strong>Family</strong>".html_safe, '/family' %></li>
            <li id="t-about"><%= link_to "<strong>About</strong>".html_safe, '/about' %></li>
        </ul>
    </div>
</div>
