<div id="header">
	<%= link_to "<h1>hurwood<em>.net</em></h1>", root_url %>
</div>
<div id="nav">
<ul>
    <%= link_to "<li><strong>Home<em>Starting Point</em></strong></li>", root_url %>
    <%= link_to "<li><strong>Blog<em>Some Thoughts</em></strong></li>", blogs_url %>
    <%= link_to "<li><strong>Family<em>The Hurwoods</em></strong></li>", family_url %>
	<%= link_to "<li><strong>About<em>Website info</em></strong></li>", about_url %>
</ul>
</div>
