<div id="header" class="group">
	<%= link_to "hurwood<em>.net</em>", root_url %>
<div id="nav" class="group">
    <ul class="group">
        <li><%= link_to "<strong>Home<em>some words</em></strong>", root_url %></li>
        <li><%= link_to "<strong>Blog<em>Some Thoughts</em></strong>", blogs_url %></li>
        <li><%= link_to "<strong>Family<em>The Hurwoods</em></strong>", family_url %></li>
        <li><%= link_to "<strong>About<em>Website info</em></strong>", about_url %></li>
    </ul>
</div>
</div>
