<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title><%= @title %></title>
    <%= render 'layouts/stylesheets' %>
</head>

<body>
    <div id="wrap" class="group">
        <div id="inner_wrap" class="group">
            <%= render 'layouts/header' %>
            <div id="wrapcol" class="group">
                <%= render 'layouts/main' %>
                <%= render 'layouts/sidebar' %>
            </div>           
            <%= if @page != "home"
                render 'layouts/footer' 
            end %>
            <%= debug(params) #if Rails.env.development? %>
        </div>
    </div>
</body>
</html>