<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  
<head>
    <title><%= @title %></title>
    <%= render 'layouts/stylesheets' %>
</head>
  
<body>
    <div id="wrap" class="group">
        <div id="inner_wrap" class="group">
            <%= render 'layouts/header' %>
            <div id="wrapcol" class="group">
        	    <%= render 'layouts/main' %>
        	    <%= render 'layouts/sidebar' %>
        	</div>
            <%= render 'layouts/footer' %>
            <% debug(params) if Rails.env.development? %>
        </div>
    </div>
</body>
</html>
</xml>